#inicial {
  background-image: url("../assets/images/banner-initial.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  color: white;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conteudo-inicial {
  max-width: 900px;
  padding: 20px;
  z-index: 2;
}

@media (max-width: 768px) {
  #inicial h1 {
    font-size: 2rem;
  }

  #inicial .conteudo-inicial p,
  #inicial .conteudo-inicial h3 {
    font-size: 1rem;
  }

  #inicial .conteudo-inicial a {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
}
